

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fake Valley Community Bank</h1>
    <p class="lead"></p>
</div>

<div class="row home-buttons">
    <div class="col-md-6">
        <a href="@Url.Action("Withdraw", "Transaction", new { customerId = ViewBag.customerId})" class="btn btn-primary btn-block">Withdraw</a>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("Deposit", "Transaction", new { customerId = ViewBag.customerId})" class="btn btn-primary btn-block">Deposit</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary btn-block">Print Statement</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-success btn-block quickCash-btn">Quick Cash $100</a>
    </div>
   
    <div class="col-md-6">
        <a class="btn btn-primary btn-block">Transfer Funds</a>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("Details", "CheckingAccount")" class="btn btn-primary btn-block">Balance Inquery</a>
    </div>
    

</div>


@section scripts{
    <script>

        $(document).ready(function () {
            



            //Quick Cash $100 Action
            $('.quickCash-btn').on("click", function () {

                // set up transaction
                var transaction = {"customerId": @ViewBag.customerId , "Amount": 100}
                //AJAX Request
                $.ajax({
                    url: "/Transaction/Deposit/" ,
                    method: "POST",
                    data: transaction,
                    success: function(){
                        console.log("Deposited to customerID: " + @ViewBag.customerId);
                        toastr.success("Successfully Added $100.00 to Checkings Account! " );
                    },
                    error: function(){
                        toastr.error("Something went wrong with Quick Cash");
                    }
                    
                });
            });


        });


    </script>
}
